<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838442475027-l0dsji38m7nmmu4qhengugsstu24vg5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838442475027-l0dsji38m7nmmu4qhengugsstu24vg5o</string>
	<key>API_KEY</key>
	<string>AIzaSyA5QAEncbdJ-gR9QuSNWILcr_cNFkmLzSg</string>
	<key>GCM_SENDER_ID</key>
	<string>838442475027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactlessPaymentMobile</string>
	<key>PROJECT_ID</key>
	<string>contactless-payment-d049d</string>
	<key>STORAGE_BUCKET</key>
	<string>contactless-payment-d049d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838442475027:ios:20c4064e8dd99ad61d29e6</string>
</dict>
</plist>